html, body {
    height: 100%;
    margin: 0;
}

.body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    text-align: center;
}

img {
  max-width: 100%;
  height: auto;
}

/*HEADER (Navigation bar)*/
.navigation_bar {
    display: flex;
         background-color: lightgreen;
            padding: 1rem;
}
.navigation_bar img {
    max-width: 300px;
        width: 100%;
            margin-right: auto;
}
.navigation_bar div {
    margin-left: auto;
        color: inherit;
            text-decoration: none;
                cursor: pointer;
}

/*Button edit*/
#order_navigation_bar {
    color: inherit;
        text-decoration: none;
            cursor: default;
                margin-right: 1rem;
                    font-size: x-large;
}
#contact_navigation_bar {
    color: inherit;
        text-decoration: none;
            cursor: default;
                font-size: x-large;
}
/*Image*/
.prep_meal_menu {
    max-width: 700px;
    width: 100%;
}
/*Title*/
.order_page_title {
    background-color: #0056b3;
    padding: 3rem;
    margin-top: 0;
}
.order_page_title h2 {
    font-size: 4rem;
    margin-top: 0;
    color: white;
}
.order_page_title figcaption {
    margin-top: 0;
    font-size: larger;
    color: white;
}


/*SELECT YOU MEAL PLAN*/
#choose_your_plan {
    font-size: 50px;
    margin-bottom: 0;
}
.select_your_meal_plan {
    display: flex;
    justify-content: center;
    gap: 1rem;
    padding: 3rem;
}
.select_your_meal_plan h3 {
    font-size: xx-large;
}
.select_your_meal_plan p {
    font-size: larger;
}


/*Stay Healthy*/
.stay_healthy {
    color: black;
        text-decoration: none;
        max-width: 400px;
    width: 100%;
border-radius: 1rem;
    border: 1px solid black;
}
.stay_healthy:hover {
    background-color: lightgray;
}

/*weight_loss*/
.weight_loss {
    color: black;
        text-decoration: none;
        max-width: 400px;
    width: 100%;
border-radius: 1rem;
    border: 1px solid black;

}
.weight_loss:hover {
    background-color: lightgray;
}

/*bulking*/
.bulking {
    color: black;
        text-decoration: none;
        max-width: 400px;
    width: 100%;
border-radius: 1rem;
    border: 1px solid black;
}
.bulking:hover {
    background-color: lightgray;
}

/*Footer*/
.order_footer {
    display: flex;
        flex-direction: column;
             background-color: lightgreen;
        padding: 1rem;  
    align-items: center;  
margin-top: auto;
}

.order_footer img {
    max-width: 300px;
        width: 100%;
            margin-bottom: 0rem;      
}
.order_footer p {
    margin-bottom: .5rem
}
